.formWraper{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.orderFormBox{
    padding: 40px;
    border-radius: 10px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    background: rgba(255,255,255, 1);
}

.formWraper label{
    display: block;
    width: 100%;
}
.stauses{
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
    margin: 20px 0;
}
.stauses .status_items{
    background: rgba(0, 0, 0, 0.09);
    padding: 40px 0;
    width: 300px;
    text-align: center;
    border: 1px solid rgba(130, 130, 130, .6);
}
.stauses .status_items.active{
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to right top, #0051cd, #0091f2, #00c1d3, #2de69b, #e9ff80);
    color: #FFF;
    font-weight: bold;
    -webkit-animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
    0% {transform: scale(1)}
    25% {transform: scale(1.05)}
    50% {transform: scale(1)}
    75% {transform: scale(1.05)}
    100% {transform: scale(1)}
}

._dropdown{
    font-size: 15pt;
    margin-top: 7px;
}
._dropdown select{
    background: rgba(0, 0, 0, 0.09);;
    color: #565658;
    border-radius: 5px;
    outline: none;
    display: block;
    padding: 16px 10px;
    width: 100%;
    text-align: center;
    background-attachment: fixed;
}
.makeOrderBtn button{
    font-size: 20pt;
}
.custom_msg{
    display: none;
}
.custom_msg.show{
    display: block;
}
.custom_msg{
    position: relative;
    margin: 10px 0 10px 5px;
}

.custom_msg .orderStatusHeader{
    top: -12px;
    left: 20px;
    color: #565658;
    background: #FFF;
    padding: 0px 10px;
    position: absolute;
}

.custom_msg div{ 
    background: rgba(0, 0, 0, 0.09);
    border: 1px solid rgb(193, 193, 193);
    padding: 10px;
    border-radius: 5px;
}
