.appWrapper{
    height: 100vh;
     /*Fallback if gradeints don't work */
  background: #9b59b6;
  /*Linear gradient... */
  background: 
    radial-gradient(
     at center, rgb(139, 190, 245), rgb(0, 40, 104)
    );

}
.appWrapper .bg-light{
    background: rgba(216, 215, 215, 0.2) !important;
}
*{
	z-index: 100;
}
.particless{
	z-index: 1;
	width: 100vw;
	height: 100vh;
	position: absolute;
}
.particless canvas{
	z-index: 1;
}