.Admin{
	z-index: 200000;
}

.statusesBtn{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.cards-1{
	display: flex;
	justify-content: space-between;
}

.cards-1 .item{
	width: 50%;
	margin: 0px 10px;
}
.absoluteDiv{
	top: 270px;
	position: absolute;
}
.drugableCard{
	background: azure;
	border: 2px solid #0695b6;
}
